<h3>Comunicação com API</h3>
<p>
    Está aula será focada em como fazer requisições HTTP para APIs externas, utilizando o HttpClient do Angular.
    Vamos aprender a fazer requisições GET, POST, PUT e DELETE, além de como lidar com os dados recebidos e enviar dados para a API.
</p>

<br />
<br />
<br />

<h3>Páginas com exemplos de API</h3>
<button class="btn margin-bottom" (click)="navigateTo('aula09/rickandmorty')">
  API Rick and Morty
</button>
<br />
<button class="btn margin-bottom" (click)="navigateTo('aula09/pokedex')">
  API Pokedex
</button>
<br />
<button class="btn" (click)="createPacient()">
  Criar um usuário com json-server
</button>