<!-- <form>
  <label for="">Digite sua senha</label>
  <input type="text" [(ngModel)]="password"/>
  @if(password.length <= 6){
    <p>Sua senha deve possuir mais que 6 digitos.</p>
  } @else if(password.length > 6 && password.length <= 10){
    <p>Sua senha está no tamanho ideal.</p>
  } @else {
    <p>Sua senha está muito grande.</p>
  }
</form> -->

<!-- <ul>
  @for (item of itens; track item) {
    <li>{{ item }}</li>
  } @empty {
    <li>Lista vazia, cadastre um item.</li>
  }
</ul> -->


<!-- @switch (buttonType) {
  @case ('success') {
    <button class="btn btn-success">Success</button>
  }
  @case ('error') {
    <button class="btn btn-danger">Error</button>
  }
  @default {
    <button class="btn btn-primary">Primary</button>
  }
} -->

<!-- @defer {
  <calendar-cmp />
} @placeholder {
  <p>Placeholder</p>
} @loading {
  <img alt="loading image" src="loading.gif" />
} @error {
  <p>An loading error occurred</p>
} -->

<a routerLink="/todo-list">To do List</a>

 <!-- {{"oi " | date }} -->

 