<div class="pokemon-list">
  <div class="pokemon-card">
    <img src="https://via.placeholder.com/150" alt="Imagem do Pikachu" class="pokemon-image" />
    <div class="pokemon-details">
      <h2 class="pokemon-title">Pikachu</h2>
      <p class="pokemon-description">Um Pokémon elétrico famoso por suas bochechas que liberam eletricidade.</p>
      <p class="pokemon-weight">Peso: 6 kg</p>
      <p class="pokemon-type">Tipo: Elétrico</p>
    </div>
  </div>

  <div class="pokemon-card">
    <img src="https://via.placeholder.com/150" alt="Imagem do Bulbasaur" class="pokemon-image" />
    <div class="pokemon-details">
      <h2 class="pokemon-title">Bulbasaur</h2>
      <p class="pokemon-description">Um Pokémon inicial de planta, com uma semente em suas costas.</p>
      <p class="pokemon-weight">Peso: 6.9 kg</p>
      <p class="pokemon-type">Tipo: Planta, Venenoso</p>
    </div>
  </div>
</div>
